   <div class="card">
        <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Comments
          </button>
        </h5>
          <div id="collapseTwo" class="jambotron" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">

                <h3>User:<%= comment.name %></h3>
            <br />
            <h5><%= comment.body %></h5>
            <br />
            <h6><%= time_ago_in_words(comment.created_at) %></h6>
            <br />
            </div>
            </div>
    </div>
    </div>
